In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r'C:\Basic_Datascience_4ML\assets\data\cars.csv')
print(df.head())

In [10]:
df.describe()
df.value_counts()

brand   km_driven  fuel    owner         selling_price
Jaguar  45000      Diesel  First Owner   3200000          34
Lexus   20000      Petrol  First Owner   5150000          34
Toyota  68089      Petrol  First Owner   2000000          32
Honda   56494      Petrol  First Owner   550000           32
Toyota  79328      Diesel  Second Owner  750000           31
                                                          ..
Jeep    12000      Diesel  First Owner   1500000           1
        10000      Petrol  First Owner   1520000           1
Jaguar  70000      Diesel  Second Owner  3000000           1
        35000      Diesel  First Owner   3500000           1
Volvo   72500      Diesel  Second Owner  1200000           1
Name: count, Length: 6450, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df,df['price'],test_size=0.2)