In [1]:
from pandas.core.interchange.dataframe_protocol import Column

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Basic_Datascience_4ML\assets\data\customer.csv')
df.sample(10)

    age  gender   review education purchased
10   98  Female     Good        UG       Yes
30   73    Male  Average        UG        No
44   77  Female  Average        UG        No
12   51    Male     Poor    School        No
46   64  Female     Poor        PG        No
49   25  Female     Good        UG        No
27   69  Female     Poor        PG        No
35   74    Male     Poor    School       Yes
33   89  Female     Good        PG       Yes
47   38  Female     Good        PG       Yes

Label Encoding

In [3]:
df = df.iloc[:,2:]
print(df)

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [4]:
from  sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,:2],df.iloc[:,-1],test_size=0.2)
print(X_train)

     review education
46     Poor        PG
37  Average        PG
21  Average        PG
36     Good        UG
16     Poor        UG
9      Good        UG
24  Average        PG
44  Average        UG
27     Poor        PG
42     Good        PG
23     Good    School
0   Average    School
13  Average    School
31     Poor    School
35     Poor    School
19     Poor        PG
3      Good        PG
43     Poor        PG
8   Average        UG
47     Good        PG
25     Good    School
28     Poor    School
14     Poor        PG
18     Good    School
32  Average        UG
5   Average    School
6      Good    School
12     Poor    School
40     Good    School
49     Good        UG
11     Good        UG
30  Average        UG
22     Poor        PG
29  Average        UG
45     Poor        PG
2      Good        PG
10     Good        UG
38     Good    School
48     Good        UG
4   Average        UG

In [5]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
X_train = oe.fit(X_train)
X_test_Encoded = oe.transform(X_test)
X_test_Encoded = oe.transform(X_test)

In [6]:
print(X_test_Encoded)
df = pd.DataFrame(X_test_Encoded,columns=['review','education'])

[[0. 1.]
 [1. 0.]
 [2. 1.]
 [2. 2.]
 [2. 2.]
 [2. 0.]
 [2. 0.]
 [0. 1.]
 [1. 0.]
 [2. 2.]]

Standardization

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Fit the scaler to the training set to learn mean and std
scaler.fit(X_test_Encoded)

# Transform train and test sets using parameters learned from train set
X_test_scaled = scaler.transform(X_test_Encoded)

# it gives me numpy array but i want dataframe so i have to convert it to data frame
print(X_test_scaled)

[[-1.75        0.12038585]
 [-0.5        -1.08347268]
 [ 0.75        0.12038585]
 [ 0.75        1.32424438]
 [ 0.75        1.32424438]
 [ 0.75       -1.08347268]
 [ 0.75       -1.08347268]
 [-1.75        0.12038585]
 [-0.5        -1.08347268]
 [ 0.75        1.32424438]]

In [8]:
X = pd.DataFrame(X_test_scaled, columns=['review','education'])
X.describe()
np, round(X.describe(), 1)

(<module 'numpy' from 'C:\\Basic_Datascience_4ML\\.venv\\Lib\\site-packages\\numpy\\__init__.py'>,
        review  education
 count    10.0       10.0
 mean      0.0        0.0
 std       1.1        1.1
 min      -1.7       -1.1
 25%      -0.5       -1.1
 50%       0.8        0.1
 75%       0.8        1.0
 max       0.8        1.3)

In [9]:
print(X.sample(10))

   review  education
9    0.75   1.324244
4    0.75   1.324244
7   -1.75   0.120386
8   -0.50  -1.083473
3    0.75   1.324244
6    0.75  -1.083473
5    0.75  -1.083473
0   -1.75   0.120386
1   -0.50  -1.083473
2    0.75   0.120386